@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTPro.ttf")
    format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTProDemi.ttf")
    format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTProBold.ttf")
    format("ttf");
  font-weight: 700;
}
