@font-face {
  font-family: "Avenir Next";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", Sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
  width: 100%;
  padding-top: 1rem;
  flex: 1 1 auto;
}
.header__logo {
  text-decoration: none;
  display: block;
}
.header__logo-img {
  width: 7.5rem;
  height: 1.25rem;
}
.header .navigation {
  width: 100%;
}
.header__navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header__navigation li {
  text-align: center;
  width: 100%;
}
.header__navigation-links {
  font-size: 1rem;
  font-weight: 400;
  color: #e1e1e1;
  display: block;
  padding: 1rem;
  text-decoration: none;
}
.header__navigation-links:active, .header__navigation-links:hover {
  color: #fff;
  font-weight: 700;
  border-bottom: #fff solid 5px;
}
.hero-section {
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.5019607843), rgba(50, 50, 50, 0.5019607843)), url(../Assets/Images/hero-bio.jpg);
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
}
.hero-section__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.musicians-bio {
  padding: 1rem;
  padding: 1rem;
}
.musicians-bio .Secondary-heading {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #323232;
}
.musicians-bio .musicians-img {
  height: 12rem;
  width: 100%;
}
.musicians-bio .musicians-quote {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
  padding-top: 1rem;
}
.musicians-bio .band-bio {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.musicians-bio .band-bio .band-heading {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
  text-transform: capitalize;
}
.musicians-bio .band-bio .band-text {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #323232;
}

.gallery {
  background-color: #fafafa;
  padding: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.gallery__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #323232;
}
.gallery__img {
  width: 100%;
}

.footer {
  background-color: #323232;
  padding: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.footer .contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .contact__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}
.footer .contact .social-media {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.footer .contact .social-media__link .social-icon {
  text-decoration: none;
}
.footer .contact #band-logo {
  display: none;
}
.footer .contact-wrapper {
  display: flex;
  flex-direction: column;
}
.footer .contact-wrapper .contact-section {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .contact-wrapper .contact-section__name {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: #e1e1e1;
}
.footer .contact-wrapper .contact-section__address {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #e1e1e1;
}
.footer .contact-wrapper .contact-section__email a {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #e1e1e1;
  text-decoration: none;
}
.footer #band-logo-1 {
  width: 7.5rem;
  padding-top: 4rem;
}
.footer .copyright {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #e1e1e1;
  text-transform: capitalize;
  padding-top: 1rem;
}/*# sourceMappingURL=main.css.map */