@use "Partials/typography" as *;
@import "Partials/variables";
@import "Partials/mixins";
* {
  @include reset;
}
body {
  font: "Avenir Next", Sans-serif;
}
.header {
  display: flex;
  &__logo {
    text-decoration: none;
    &-img {
      background-color: $prm-black;
    }
  }
  &__navigation {
    display: flex;
    list-style: none;
    &-links {
      text-decoration: none;
    }
  }
}
