@use "Partials/typography" as *;
@use "Partials/variables" as *;
@use "Partials/mixins" as *;
@use "Partials/global" as *;
// Hero-section
.hero-section {
  background: linear-gradient(0deg, #32323280, #32323280),
    url(../Assets/Images/hero-shows.jpg);
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  @include tablet {
    height: 40rem;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 15rem;

    @include page-width(0 1rem);
    @include tablet {
      @include page-width(0 2.25rem);
      height: 40rem;
      width: 48rem;
    }
    @include desktop {
      @include page-width(0 auto);
      width: 80rem;
    }
    .hero-section__sub-heading {
    }
    .hero-section__song {
      width: 100%;
      height: 5rem;
    }
    .hero-section__song-details {
      font-size: 10px;
      color: #cccccc;
      line-break: anywhere;
      font-family: "Avenir Next Lt Pro", Sans-serif;
      word-break: normal;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 100;
    }
  }
}
