@font-face {
  font-family: "Avenir Next Lt Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next Lt Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next Lt Pro";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("otf");
  src: url("../../Assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next Lt Pro", Sans-serif;
}

.header {
  background-color: #323232;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  flex: 1 1 auto;
}
@media screen and (min-width: 48rem) {
  .header__wrapper {
    margin: 0 2.25rem;
    flex-direction: row;
    gap: 4.25rem;
    justify-content: flex-start;
    padding-top: 0;
  }
}
@media screen and (min-width: 80rem) {
  .header__wrapper {
    margin: 0 auto;
    width: 80rem;
  }
}
.header__wrapper .header__logo {
  text-decoration: none;
  display: block;
  line-height: 0;
}
.header__wrapper .header__logo-img {
  width: 7.5rem;
  height: 1.25rem;
}
.header__wrapper .navigation {
  width: 100%;
}
.header__wrapper .navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 48rem) {
  .header__wrapper .navigation__list {
    gap: 4rem;
  }
}
.header__wrapper .navigation__list li {
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .header__wrapper .navigation__list li {
    flex-basis: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header__wrapper .navigation__list li .navigation__list-links {
  font-size: 1rem;
  font-weight: 400;
  color: #e1e1e1;
  display: block;
  padding: 1rem 0;
  text-decoration: none;
}
@media screen and (min-width: 48rem) {
  .header__wrapper .navigation__list li .navigation__list-links {
    padding: 2.25rem 0;
  }
}
.header__wrapper .navigation__list li .navigation__list-links:active, .header__wrapper .navigation__list li .navigation__list-links:hover {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border-bottom: #fff solid 4px;
}
.header__wrapper .navigation__list li .navigation__list-links--active {
  border-bottom: #fff solid 4px;
}

.footer {
  background-color: #323232;
}
.footer__wrapper {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper {
    margin: 0 2.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 80rem) {
  .footer__wrapper {
    margin: 0 auto;
    width: 80rem;
  }
}
.footer__wrapper .contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .contact {
    flex-direction: row;
    flex: 0 0 100%;
    gap: 2.25rem;
  }
}
.footer__wrapper .contact__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .contact__heading {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    color: #fff;
  }
}
.footer__wrapper .contact__social {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
.footer__wrapper .contact__social-link .social-icon {
  text-decoration: none;
}
.footer__wrapper .contact__link {
  text-decoration: none;
  line-height: 0;
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .contact__link {
    display: block;
    margin-left: auto;
  }
}
.footer__wrapper .contact__link .band-logo {
  width: 7.5rem;
}
.footer__wrapper .contact-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .contact-wrapper {
    flex-direction: row;
    gap: 2.25rem;
  }
}
.footer__wrapper .contact-wrapper .contact-section {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  gap: 1rem;
  align-items: baseline;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .contact-wrapper .contact-section {
    padding-top: 3rem;
    gap: 2.25rem;
    flex-grow: 1;
  }
}
.footer__wrapper .contact-wrapper .contact-section__name {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: #fff;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .contact-wrapper .contact-section__name {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #fff;
  }
}
.footer__wrapper .contact-wrapper .contact-section__address {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .contact-wrapper .contact-section__address {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #e1e1e1;
  }
}
.footer__wrapper .contact-wrapper .contact-section__email a {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #e1e1e1;
  text-decoration: none;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .contact-wrapper .contact-section__email a {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #e1e1e1;
  }
}
.footer__wrapper .footer__link {
  text-decoration: none;
  line-height: 0;
  display: block;
  padding-top: 4rem;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .footer__link {
    display: none;
  }
}
.footer__wrapper .footer__link .band-logo-1 {
  width: 7.5rem;
}
.footer__wrapper .copyright {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #e1e1e1;
  text-transform: capitalize;
  padding-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__wrapper .copyright {
    padding-top: 3rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #e1e1e1;
  }
}

.hero-section {
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.5019607843), rgba(50, 50, 50, 0.5019607843)), url(../Assets/Images/hero-shows.jpg);
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (min-width: 48rem) {
  .hero-section {
    height: 40rem;
  }
}
.hero-section__wrapper {
  margin: 0 1rem 0 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 48rem) {
  .hero-section__wrapper {
    margin: 0 2.25rem;
    gap: 2.25rem;
    width: 70%;
  }
}
@media screen and (min-width: 80rem) {
  .hero-section__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80rem;
    align-items: stretch;
  }
}
.hero-section__wrapper .hero-section__sub-heading {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #fff;
}
@media screen and (min-width: 48rem) {
  .hero-section__wrapper .hero-section__sub-heading {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .hero-section__wrapper .hero-section__sub-heading {
    flex: 0 0 100%;
  }
}
.hero-section__wrapper .hero-section__heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #fff;
}
@media screen and (min-width: 48rem) {
  .hero-section__wrapper .hero-section__heading {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
    color: #fff;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .hero-section__wrapper .hero-section__heading {
    flex: 1;
  }
}
.hero-section__wrapper .hero-section__song-details {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  font-family: "Avenir Next Lt Pro", Sans-serif;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 100;
  height: 4rem;
}
@media screen and (min-width: 48rem) {
  .hero-section__wrapper .hero-section__song-details {
    height: 7rem;
    padding-top: 1.5rem;
    width: 70%;
  }
}
@media screen and (min-width: 80rem) {
  .hero-section__wrapper .hero-section__song-details {
    padding-top: 0;
    height: 5rem;
    flex: 1;
    width: 100%;
    height: 100%;
  }
}

.show {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .show {
    flex-direction: column;
    padding-bottom: 2.25rem;
    margin: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .show {
    flex-direction: row;
    padding-bottom: 2.25rem;
    padding-top: 3rem;
    margin: 0 auto;
    width: 80rem;
  }
}
.show .show-heading {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .show .show-heading {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    color: #323232;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .show .show-heading {
    padding: 0;
    gap: 3rem;
    margin: 0;
    width: 80rem;
  }
}
.show .show-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .show .show-wrapper {
    gap: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .show .show-wrapper {
    width: 80%;
    gap: 0rem;
  }
}
.show .show-wrapper .show-label {
  display: none;
  color: #afafaf;
  text-transform: uppercase;
}
@media screen and (min-width: 48rem) {
  .show .show-wrapper .show-label {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    display: flex;
    gap: 0;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .show .show-wrapper .show-label {
    width: 60rem;
  }
}
.show .show-wrapper .show-label-tag {
  color: #afafaf;
  flex-basis: 0;
  max-width: 22%;
}
.show .show__divider {
  stroke-width: 1px;
  color: #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .show .show__divider {
    width: auto;
  }
}
.show .show-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1rem;
}
@media screen and (min-width: 48rem) {
  .show .show-details {
    gap: 0;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .show .show-details {
    width: 60rem;
  }
}
.show .show-details:hover {
  background-color: #fafafa;
}
.show .show-details--highlight {
  background-color: #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .show .show-details__date {
    flex: 1;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .show .show-details__date {
    max-width: 22%;
  }
}
.show .show-details__date-label {
  color: #afafaf;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .show .show-details__date-label {
    display: none;
  }
}
.show .show-details__date-input {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .show .show-details__venue {
    flex: 1;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .show .show-details__venue {
    max-width: 22%;
  }
}
.show .show-details__venue-label {
  color: #afafaf;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .show .show-details__venue-label {
    display: none;
  }
}
.show .show-details__venue-input {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .show .show-details__location {
    flex: 1;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .show .show-details__location {
    max-width: 22%;
  }
}
.show .show-details__location-label {
  color: #afafaf;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
}
@media screen and (min-width: 48rem) {
  .show .show-details__location-label {
    display: none;
  }
}
.show .show-details__location-input {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: #323232;
}
.show .show-details__button {
  height: 2.5rem;
  width: 100%;
  background-color: #323232;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}
.show .show-details__button:hover {
  background-color: #000;
  color: #fff;
}
@media screen and (min-width: 48rem) {
  .show .show-details__button {
    padding: 0 2rem;
    width: auto;
  }
}/*# sourceMappingURL=shows.css.map */